# DATA CLEANING

## Loading datasets

In [0]:
#importing pandas and numpy libraries
import pandas as pd
import numpy as np

In [0]:
#loading autolib dataset
auto= 'http://bit.ly/Autolibdataset'

#reading the dataset and storing it in a desired variable
autolib=pd.read_csv(auto)
#autolib
#viewing only the first ten entries
autolib.head(10)

   Unnamed: 0                             Address  Cars  ...  day  hour  minute
0           0                      24 Rue Vulpian     3  ...    1     0       0
1           1          8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2                4 Rue Charles Bossut     3  ...    1     0       0
3           3           3 avenue Claude Vellefaux     4  ...    1     0       0
4           4              236 Boulevard Voltaire     1  ...    1     0       0
5           5        44 Rue des Pirogues de Bercy     1  ...    1     0       0
6           6         63 Boulevard Richard Lenoir     1  ...    1     0       0
7           7                   43 Rue de Monceau     0  ...    1     0       0
8           8  10 Avenue du Docteur Arnold Netter     4  ...    1     0       0
9           9      33 Avenue Pierre 1er de Serbie     2  ...    1     0       0

[10 rows x 26 columns]

## Identifying null values(Validity)

In [0]:
#calculate the null values
np.count_nonzero(autolib.isnull())

28409823

In [0]:
#calculate the null values in the displayed comment and scheduled at columns
np.count_nonzero(autolib['Displayed comment'].isnull())

14099610

In [0]:
#calculate the null values in the scheduled at columns
np.count_nonzero(autolib['Scheduled at'].isnull())

14310213

In [0]:
#dropping the display comment column and scheduled at columns
autolib.drop(["Displayed comment", "Scheduled at"], axis = 1, inplace = True)

autolib.head(10)

   Unnamed: 0                             Address  Cars  ...  day  hour  minute
0           0                      24 Rue Vulpian     3  ...    1     0       0
1           1          8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2                4 Rue Charles Bossut     3  ...    1     0       0
3           3           3 avenue Claude Vellefaux     4  ...    1     0       0
4           4              236 Boulevard Voltaire     1  ...    1     0       0
5           5        44 Rue des Pirogues de Bercy     1  ...    1     0       0
6           6         63 Boulevard Richard Lenoir     1  ...    1     0       0
7           7                   43 Rue de Monceau     0  ...    1     0       0
8           8  10 Avenue du Docteur Arnold Netter     4  ...    1     0       0
9           9      33 Avenue Pierre 1er de Serbie     2  ...    1     0       0

[10 rows x 24 columns]

In [0]:
np.count_nonzero(autolib.isnull())

0

In [0]:
#deleting entries with at least ninety percent nan

# Only drop columns which have at least 90% non-NaNs
autolib.dropna(thresh=int(autolib.shape[0] * .9), axis=1)

          Unnamed: 0                           Address  Cars  ...  day  hour  minute
0                  0                    24 Rue Vulpian     3  ...    1     0       0
1                  1        8 Boulevard Richard Lenoir     0  ...    1     0       0
2                  2              4 Rue Charles Bossut     3  ...    1     0       0
3                  3         3 avenue Claude Vellefaux     4  ...    1     0       0
4                  4            236 Boulevard Voltaire     1  ...    1     0       0
...              ...                               ...   ...  ...  ...   ...     ...
14421824         880               2 rue Paul CÃ©zanne     2  ...    9    23      59
14421825         950               8 rue Louise Michel     3  ...    9    23      59
14421826         996           3 rue Olivier de Serres     5  ...    9    23      59
14421827        1010  11 avenue du GÃ©nÃ©ral De Gaulle     0  ...    9    23      59
14421828        1072             1 rue AndrÃ© Theuriet     1  ...    9    23      59

[14421829 rows x 24 columns]

In [0]:
autolib.dtypes

Unnamed: 0              int64
Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [0]:
#removing possible syntax errors
autolib.columns.str.lstrip()
autolib.columns.str.rstrip()

Index(['Unnamed: 0', 'Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

## Data Accuracy

## completness

In [0]:
#check for null values in the dataset
np.count_nonzero(autolib.isnull())

0

## consistency

In [0]:
#check for duplicate values
autolib.duplicated().sum()

#dropping duplicated values
auto_clean=autolib.drop_duplicates()
auto_clean

          Unnamed: 0                             Address  ...  hour  minute
0                  0                      24 Rue Vulpian  ...     0       0
1                  1          8 Boulevard Richard Lenoir  ...     0       0
2                  2                4 Rue Charles Bossut  ...     0       0
3                  3           3 avenue Claude Vellefaux  ...     0       0
4                  4              236 Boulevard Voltaire  ...     0       0
...              ...                                 ...  ...   ...     ...
14421810        1114       21 rue de l'Ecole de Medecine  ...    23      59
14421811        1115  6 avenue de la Porte de Champerret  ...    23      59
14421812        1116                 194 rue de fontenay  ...    23      59
14421813        1117     102 Boulevard Raymond PoincarÃ©  ...    23      59
14421814        1118                8 avenue George Sand  ...    23      59

[14278939 rows x 24 columns]

## uniformity

In [0]:
data = data.drop("Area", axis=1)

In [0]:
auto_clean.drop('Collection Timestamp',axis=1)

          Unnamed: 0                             Address  ...  minute  BlueCar Diff
0                  0                      24 Rue Vulpian  ...       0           NaN
1                  1          8 Boulevard Richard Lenoir  ...       0           NaN
2                  2                4 Rue Charles Bossut  ...       0           NaN
3                  3           3 avenue Claude Vellefaux  ...       0           NaN
4                  4              236 Boulevard Voltaire  ...       0           NaN
...              ...                                 ...  ...     ...           ...
14421810        1114       21 rue de l'Ecole de Medecine  ...      59           0.0
14421811        1115  6 avenue de la Porte de Champerret  ...      59           0.0
14421812        1116                 194 rue de fontenay  ...      59           0.0
14421813        1117     102 Boulevard Raymond PoincarÃ©  ...      59           0.0
14421814        1118                8 avenue George Sand  ...      59           0.0

[14278939 rows x 25 columns]

In [0]:
auto_clean.head(3)

   Unnamed: 0                     Address  ...  Collection Timestamp  BlueCar Diff
0           0              24 Rue Vulpian  ...            2018-04-01           NaN
1           1  8 Boulevard Richard Lenoir  ...            2018-04-01           NaN
2           2        4 Rue Charles Bossut  ...            2018-04-01           NaN

[3 rows x 26 columns]

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.
auto_clean['Collection Timestamp']=pd.to_datetime(auto_clean[['day','month','year','hour','minute']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
%autocall

In [0]:
auto_clean.head(20)

    Unnamed: 0  ... BlueCar Diff
0            0  ...          NaN
1            1  ...          NaN
2            2  ...          NaN
3            3  ...          NaN
4            4  ...          NaN
5            5  ...          NaN
6            6  ...          NaN
7            7  ...          NaN
8            8  ...          NaN
9            9  ...          NaN
10          10  ...          NaN
11          11  ...          NaN
12          12  ...          NaN
13          13  ...          NaN
14          14  ...          NaN
15          15  ...          NaN
16          16  ...          NaN
17          17  ...          NaN
18          18  ...          NaN
19          19  ...          NaN

[20 rows x 26 columns]

In [0]:
auto_clean['hour'].unique

<bound method Series.unique of 0            0
1            0
2            0
3            0
4            0
            ..
14421810    23
14421811    23
14421812    23
14421813    23
14421814    23
Name: hour, Length: 14278939, dtype: int64>

## import dataset

# question one

In [0]:
#What is the most popular hour for returning cars?
auto_clean['BlueCar Diff']= auto_clean.sort_values(['Collection Timestamp']).groupby(['ID'])['Bluecar counter'].apply(lambda x:  x.shift(1) - x)
auto_clean

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Unnamed: 0  ... BlueCar Diff
0                  0  ...          NaN
1                  1  ...          NaN
2                  2  ...          NaN
3                  3  ...          NaN
4                  4  ...          NaN
...              ...  ...          ...
14421810        1114  ...          0.0
14421811        1115  ...          0.0
14421812        1116  ...          0.0
14421813        1117  ...          0.0
14421814        1118  ...          0.0

[14278939 rows x 26 columns]

In [0]:
print(auto_clean[(auto_clean['City']=='Paris') & (auto_clean['BlueCar Diff'] > 0)].groupby(['hour'])['BlueCar Diff'].sum().sort_values(ascending =True).head(10))

hour
4      639.0
5      658.0
3      689.0
6      804.0
1     1620.0
2     1658.0
7     2088.0
0     2360.0
23    3071.0
10    3163.0
Name: BlueCar Diff, dtype: float64

# question two

In [0]:
#What is the most popular hour for returning cars?
auto_clean.groupby(['hour'])['Cars'].sum().diff().sort_values(ascending =False).head(3)

hour
2     199946.0
21    113492.0
20     70827.0
Name: Cars, dtype: float64

# question three

In [0]:
#What station is the most popular?
#Overall?
auto_clean.groupby('ID')['BlueCar Diff'].max().sort_values(ascending= False).head(10)

ID
suresnes-marcelmonge-2          6.0
pantin-cimetiereparisien-34     6.0
bagnolet-pasteur-124            6.0
paris-portedecharenton-2        6.0
argenteuil-henribarbusse-215    6.0
bagnolet-sadicarnot-213         5.0
paris-bac-142                   5.0
paris-richardlenoir-63          5.0
paris-manin-159                 5.0
paris-valette-2                 5.0
Name: BlueCar Diff, dtype: float64

In [0]:
#What station is the most popular?
#At the most popular picking hour?
print(auto_clean[(auto_clean['hour']==4) & (auto_clean['BlueCar Diff'] > 0)].groupby(['ID'])['BlueCar Diff'].sum().sort_values(ascending =True).head(10))

ID
alfortville-charlesdegaulle-16         1.0
paris-louisblanc-67                    1.0
paris-louisblanc-6                     1.0
paris-lorraine-22                      1.0
paris-linne-18                         1.0
paris-legendre-126                     1.0
paris-ledrurollin-88                   1.0
paris-lecourbemairieduxveme-parking    1.0
paris-lagny-117                        1.0
paris-lacordaire-56                    1.0
Name: BlueCar Diff, dtype: float64

# question four

In [0]:
#What postal code is the most popular for picking up Bluecars? 
#Does the most popular station belong to that postal code?
#Overall?
auto_clean.groupby('Postal code')['BlueCar Diff'].max().sort_values(ascending= False).head(10)

Postal code
93170    6.0
75012    6.0
95100    6.0
92150    6.0
93500    6.0
93200    5.0
92330    5.0
92800    5.0
75019    5.0
75018    5.0
Name: BlueCar Diff, dtype: float64

In [0]:
#What postal code is the most popular for picking up Bluecars? 
#Does the most popular station belong to that postal code?
#at the most popular picking hours
print(auto_clean[(auto_clean['hour']==4) & (auto_clean['BlueCar Diff'] > 0)].groupby(['Postal code'])['BlueCar Diff'].sum().sort_values(ascending =True).head(10))

Postal code
93300    1.0
91330    1.0
78140    1.0
78000    1.0
93310    1.0
93500    1.0
93230    1.0
92270    1.0
94150    1.0
92310    1.0
Name: BlueCar Diff, dtype: float64